
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}


.glavna-vest {
    width: 60%;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.glavna-vest .slika img {
    width: 100%;
    height: auto;
}

.glavna-vest .tekst {
    padding: 20px;
}

.glavna-vest h1 {
    font-size: 2.5rem;
    color: #222;
}

.glavna-vest p {
    font-size: 1.1rem;
    color: #555;
    line-height: 1.6;
}


.sporedne-vesti {
    width: 35%; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sporedna-vest {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sporedna-vest h2 {
    font-size: 1.8rem;
    color: #222;
}
 
.sporedna-vest.sa-slikom {
    display: flex; 
    align-items: stretch;
	height: 100%;
}

.sporedna-vest.sa-slikom .tekst {
    width: 50%; 
    padding: 20px;
}

.sporedna-vest.sa-slikom .slika {
    width: 50%; 
    padding: 0;
	display: flex;
	justify-content: center;
	align-items: center; 
}

.sporedna-vest.sa-slikom img {
    width: 100%; 
    height: auto;
    object-fit: cover;	
}

.sporedna-vest.sa-slikom p { 
color: black;
padding-top: 35px;
}

/* Baner */
.baner {
    width: 140%;
    background-color: #e1dede;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

.baner p {
    font-size: 1.2rem;
}
